<section>
  <div class="page-header" layout-align="space-between" layout="row">
    <h1 class="md-display-1">Articles</h1>
    <md-button class="md-icon-button" data-ui-sref="admin.articles.create">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
  </div>
  <div class="list-group">
    <md-card ng-repeat="article in vm.articles">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" ng-bind="article.title"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p ng-bind="article.content"></p>
        <small class="md-caption">
          Posted on
          <span ng-bind="article.created | date:'mediumDate'"></span>
          by
          <span ng-if="article.user" ng-bind="article.user.displayName"></span>
          <span ng-if="!article.user">Deleted User</span>
        </small>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button data-ui-sref="admin.articles.edit({articleId: article._id})">Edit</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div layout layout-align="center center" ng-if="vm.articles.$resolved && !vm.articles.length">
    No articles yet, why don't you <md-button class="md-primary" data-ui-sref="admin.articles.create">create one</md-button>?
  </div>
</section>
