@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  background-repeat: space;
  background-color: white !important; /*overide angular-material primary color*/
  background-position: -3px;
  background-size: 112% 112%;
}
.social-paypal {
  background-size: 90% 90%;
  background-position: 4px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.authenticationGridList {
  width: 100%;
}
.authenticationGridList md-grid-list {
  margin: 8px;
}
.authenticationGridList md-grid-tile {
  transition: all 400ms ease-out 50ms;
}
.pagination {
  list-style: none;
}
.pagination li {
  padding: 3px;
}
.pagination li.disabled{
  opacity: 0.3;
}
