<section layout="column" layout-align="center center">
  <h3 class="md-title">Restore your password</h3>
  <md-whiteframe class="md-whiteframe-z1" layout-padding>
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" novalidate autocomplete="off">
      <fieldset>
        <md-input-container class="form-group" show-errors>
          <label for="usernameOrEmail" class="text-center">Enter your account username or email.</label>
          <input type="text" id="usernameOrEmail" name="usernameOrEmail" ng-model="vm.credentials.usernameOrEmail" lowercase required autofocus>
          <div ng-messages="vm.forgotPasswordForm.usernameOrEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username or email.</p>
          </div>
        </md-input-container>
        <div class="text-center form-group">
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
