<section layout="column" layout-align="center center" ng-controller="PasswordController">
  <h3 class="md-title">Reset your password</h3>
  <md-whiteframe class="md-whiteframe-z1" layout="">
    <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" novalidate autocomplete="off">
      <fieldset>
        <md-input-container class="form-group" show-errors>
          <label>New Password</label>
          <input type="password" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword" autocomplete="new-password" password-validator required>
          <md-tooltip>
            {{popoverMsg}}
          </md-tooltip>
          <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Enter a new password.</div>
            <div ng-repeat="passwordError in passwordErrors">
              <div class="help-block error-text" ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</div>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label>Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Enter the password again to verify.</div>
            <div class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</div>
          </div>
        </md-input-container>
        <md-input-container ng-show="!resetPasswordForm.newPassword.required">
          <md-progress-linear class="{{requirementsColor}}" value="{{requirementsProgress}}"
                      md-buffer-value="{{requirementsProgress}}"></md-progress-linear>
        </md-input-container>
        <div layout="" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Update Password</md-button>
        </div>
        <div ng-show="success">
          <md-button class="md-success" ng-bind="success"></md-button>
        </div>
        <div ng-show="error">
          <md-button class="md-warn md-hue-2" ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>

