<section layout="column" layout-align="center center">
  <h3 class="md-title">Reset your password</h3>
  <md-whiteframe class="md-whiteframe-z1" layout-padding layout>
    <form name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" novalidate autocomplete="off">
      <fieldset layout="column">
        <md-input-container class="form-group" show-errors>
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" ng-model="vm.passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" uib-popover-placement="top" password-validator required autofocus>
          <div ng-messages="vm.resetPasswordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a new password.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label for="verifyPassword">Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
            <p class="help-block error-text" ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
          </div>
        </md-input-container>
        <div class="form-group" ng-show="!vm.resetPasswordForm.newPassword.$error.required">
          <label>Password Requirements</label>
          <md-progress-linear class="{{requirementsColor}}" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
        </div>
        <div class="text-center form-group">
          <md-button type="submit" class="md-raised md-primary">Update Password</md-button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
