<section>
  <div class="page-header">
    <h1>{{vm.article._id ? 'Edit Article' : 'New Article'}}</h1>
  </div>
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form name="vm.form.articleForm" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
      <fieldset>
        <md-input-container class="form-group" show-errors>
          <label>Title</label>
          <input name="title" type="text" ng-model="title" id="title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Article title is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Content</label>
          <textarea name="content" ng-model="content" id="content" cols="30" rows="10"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">{{vm.article._id ? 'Update' : 'Create'}}</md-button>
        <alert type="danger" ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" ng-bind="error"></md-button>
        </alert>
      </fieldset>
    </form>
  </md-whiteframe>
</section>

