<section>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" ng-bind="vm.article.title"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p class="lead" ng-bind="vm.article.content"></p>
      <em class="text-muted">
        <small class="md-caption">
          Posted on
          <span ng-bind="vm.article.created | date:'mediumDate'"></span>
          by
          <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
          <span ng-if="!vm.article.user">Deleted User</span>
        </small>
      </em>
    </md-card-content>
  </md-card>
</section>
