<section>
  <div class="page-header">
    <h1 class="md-display-1">User <span ng-bind="vm.user.username"></span></h1>
  </div>
  <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset layout="column">
        <md-input-container class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" ng-model="vm.user.firstName" placeholder="First Name" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </md-input-container>
        <div class="form-group">
          <md-button type="submit" class="md-raised md-primary">Update</md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>
