<section layout="column">
  <h1 class="md-display-1">Users</h1>
  <md-input-container>
    <label>Search</label>
    <input type="text" ng-model="search" ng-change="figureOutItemsToDisplay()" />
  </md-input-container>
  <md-whiteframe class="md-whiteframe-z1" ng-if="pagedItems.length">
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="user in pagedItems" ng-click="navigateTo({state: 'admin.user', param: {userId: user._id}}, $event)" aria-label="{{ user.username }}">
        <img ng-src="{{ user.profileImageURL }}" alt="{{ user.username }}" class="md-avatar" />
        <div class="md-list-item-text">
          <h3 ng-bind="user.username"></h3>
          <h4 ng-bind="user.email"></h4>
          <h4 ng-bind="user.roles"></h4>
        </div>
      </md-list-item>
    </md-list>
  </md-whiteframe>

  <uib-pagination layout="" layout-align="center center" boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</section>
