<section>
  <div layout="row" layout-align="space-between center">
    <h1 class="md-display-1" ng-bind="user.username"></h1>
    <div>
      <md-button class="md-fab md-primary md-mini" ui-sref="admin.user-edit({userId: user._id})" aria-label="Edit User">
        <ng-md-icon icon="mode_edit"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-primary md-mini" ng-click="remove();" ng-if="user._id !== authentication.user._id" aria-label="Delete User">
        <ng-md-icon icon="delete"></ng-md-icon>
      </md-button>
    </div>
  </div>

  <div layout="column">
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>First Name</strong></div>
      <div flex="80" ng-bind="user.firstName"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>Last Name</strong></div>
      <div flex="80" ng-bind="user.lastName"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>Email</strong></div>
      <div flex="80" ng-bind="user.email"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>Provider</strong></div>
      <div flex="80" ng-bind="user.provider"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>Created</strong></div>
      <div flex="80" ng-bind="user.created"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="md-padding">
      <div flex="20"><strong>Roles</strong></div>
      <div flex="80" ng-bind="user.roles"></div>
    </div>
  </div>

</section>
