<!-- The chat view -->
<section>
  <div class="page-header">
    <h1 class="md-display-1">Chat Example</h1>
  </div>
  <!-- The message form -->
  <form ng-submit="vm.sendMessage();">
    <fieldset layout="row">
      <md-input-container class="form-group">
        <label>Message</label>
        <input type="text" id="messageText" name="messageText" ng-model="vm.messageText" placeholder="Enter new message">
      </md-input-container>
      <md-button type="submit" lass="md-raised md-primary" ng-disabled="!vm.messageText.length">Submit</md-button>
    </fieldset>
  </form>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="message in vm.messages">
      <img ng-src="{{message.profileImageURL}}" class="md-avatar" alt="{{message.username}}" />
      <div class="md-list-item-text">
        <h3 ng-bind="message.username"></h3>
        <p ng-bind="message.text"></p>
        <small class="md-caption" ng-bind="message.created | date:'mediumTime'"></small>
      </div>
    </md-list-item>
  </md-list>
</section>
