<section>
  <div>
    <form layout layout-align="center center">
      <fieldset>
        <md-whiteframe class="md-whiteframe-z1 form-group text-center">
          <img ngf-src="vm.fileSelected ? picFile : vm.user.profileImageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </md-whiteframe-z1>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <md-button class="md-raised btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</md-button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <md-button class="md-raised md-primary" ng-click="vm.upload(picFile)">Use This Picture</md-button>
          <md-button class="md-raised" ng-click="vm.fileSelected = false">Cancel</md-button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center">
          <!-- <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
            <span class="sr-only">{{vm.progress}}% Complete</span>
          </div> -->
          <label>{{vm.progress}}% Complete</label>
          <md-progress-linear class="{{vm.progress}}" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
        </div>
      </fieldset>
    </form>
  </div>
</section>
