<section ng-controller="ChangePasswordController">
  <md-whiteframe class="md-whiteframe-z1" layout="column">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" novalidate autocomplete="off">
      <fieldset>
        <md-input-container class="form-group" show-errors>
          <label>Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" ng-model="passwordDetails.currentPassword" required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Your current password is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label>New Password</label>
          <input type="password" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword" password-validator required>
          <md-tooltip>
            {{popoverMsg}}
          </md-tooltip>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Enter a new password.</div>
            <div ng-repeat="passwordError in passwordErrors">
              <div class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</div>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label>Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Verify your new password.</div>
            <div class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</div>
          </div>
        </md-input-container>
        <md-input-container ng-show="!passwordForm.newPassword.required">
          <md-progress-linear class="{{requirementsColor}}" value="{{requirementsProgress}}"
                      md-buffer-value="{{requirementsProgress}}"></md-progress-linear>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Save Password</md-button>
        <div ng-show="success" layout="" layout-align="center">
          <md-button class="md-success">Password Changed Successfully</md-button>
        </div>
        <div ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" ng-bind="error"></md-button>
        </div>
      </fieldset>
    </form>
  </md-whiteframe>
</section>

