<section>
  <md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset layout="column">
        <md-input-container class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" ng-model="vm.user.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </md-input-container>
        <div class="text-center form-group">
          <md-button type="submit" class="md-raised md-primary">Save Profile</md-button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
