<section layout="column" layout-align="center center">
  <h3 class="md-title" ng-show="vm.hasConnectedAdditionalSocialAccounts()">Connected social accounts:</h3>
  <div class="connected-social-account">
    <!-- If the user's provider field (primary) is a social account, show it here -->
    <div ng-if="vm.user.provider !== 'local'" class="social-account-container">
      <img ng-src="/modules/users/client/img/buttons/{{vm.user.provider}}.png">
      <i class="glyphicon glyphicon-check text-success user-primary-account" data-toggle="popover" title="Primary: {{vm.user.provider}}"></i>
    </div>
    <md-button ng-repeat="(providerName, providerData) in vm.user.additionalProvidersData"
                ng-click="vm.removeUserSocialAccount(providerName)"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/{{::providerName}}.png');
    ">
      <ng-md-icon icon="delete"></ng-md-icon>
    </md-button>
  </div>
  <h3 class="md-title" ng-show="!vm.hasConnectedAdditionalSocialAccounts()">Unconnected social accounts:</h3>
  <div class="unconnected-social-account">
    <md-button  ng-hide="vm.isConnectedSocialAccount('facebook')"
                ng-click="vm.callOauthProvider('/api/auth/facebook')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/facebook.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
    <md-button  ng-hide="vm.isConnectedSocialAccount('twitter')"
                ng-click="vm.callOauthProvider('/api/auth/twitter')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/twitter.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
    <md-button  ng-hide="vm.isConnectedSocialAccount('google')"
                ng-click="vm.callOauthProvider('/api/auth/google')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/google.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
    <md-button  ng-hide="vm.isConnectedSocialAccount('linkedin')"
                ng-click="vm.callOauthProvider('/api/auth/linkedin')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/linkedin.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
    <md-button  ng-hide="vm.isConnectedSocialAccount('github')"
                ng-click="vm.callOauthProvider('/api/auth/github')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/github.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
    <md-button  ng-hide="vm.isConnectedSocialAccount('paypal')"
                ng-click="vm.callOauthProvider('/api/auth/paypal')"
                class="md-fab md-primary social-account-container"
                style="background-image: url('/modules/users/client/img/buttons/paypal.png');
    ">
      <ng-md-icon icon="add_circle"></ng-md-icon>
    </md-button>
  </div>
</section>
