<section layout="column" layout-align="center center" ng-controller="AuthenticationController">
  <h3 class="md-title">Sign in using your social accounts</h3>
    <div class="authenticationGridList">
      <md-grid-list   md-cols-sm="3"
                      md-cols-md="3"
                      md-cols-gt-md="6"
                      md-row-height="62px">
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/facebook')"
                      aria-label="Facebook Provider"
                      class="md-fab md-primary social-account-container"
                      style="background-image: url('/modules/users/client/img/buttons/facebook.png');
          "></md-button>
        </md-grid-tile>
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/twitter')"
                      aria-label="Twitter Provider"
                      class="md-fab md-primary social-account-container"
                      style="background-image: url('/modules/users/client/img/buttons/twitter.png');
          "></md-button>
        </md-grid-tile>
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/google')"
                      aria-label="Google Provider"
                      class="md-fab md-primary social-account-container"
                      style="background-image: url('/modules/users/client/img/buttons/google.png');
          "></md-button>
        </md-grid-tile>
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/linkedin')"
                      aria-label="Linkedin Provider"
                      class="md-fab md-primary social-account-container"
                      style="background-image: url('/modules/users/client/img/buttons/linkedin.png');
          "></md-button>
        </md-grid-tile>
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/github')"
                      aria-label="Github Provider"
                      class="md-fab md-primary social-account-container"
                      style="background-image: url('/modules/users/client/img/buttons/github.png');
          "></md-button>
        </md-grid-tile>
        <md-grid-tile>
          <md-button  ng-click="callOauthProvider('/api/auth/paypal')"
                      aria-label="Paypal Provider"
                      class="md-fab md-primary social-account-container social-paypal"
                      style="background-image: url('/modules/users/client/img/buttons/paypal.png');
          "></md-button>
        </md-grid-tile>
      </md-grid-list>
    </div>
  <div ui-view></div>
</section>


