<div layout="column" layout-align="center center" ng-controller="AuthenticationController">
  <h3 class="md-title">Or with your account</h3>
  <md-whiteframe class="md-whiteframe-z1">
    <form name="userForm" ng-submit="signin(userForm.$valid)" autocomplete="off" novalidate>
      <fieldset>
        <md-input-container class="form-group" show-errors>
          <label>Username</label>
          <input  type="text" id="username" name="username"
                  ng-model="credentials.username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Username is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="form-group" show-errors>
          <label>Password</label>
          <input  type="password" id="password" name="password"
                  ng-model="credentials.password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <div class="help-block error-text" ng-message="required">Password is required.</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="center">
          <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
          <p>&nbsp; or&nbsp;</p>
          <md-button class="md-primary" ui-sref="authentication.signup">Sign up</md-button>
        </div>
        <div layout="" layout-align="center">
          <md-button class="md-primary" ui-sref="password.forgot">Forgot your password?</md-button>
        </div>
        <uib-alert type="danger" ng-show="error" layout="" layout-align="center">
          <md-button class="md-warn md-hue-2" ng-bind="error"></md-button>
        </uib-alert>
      </fieldset>
    </form>
  </md-whiteframe>
</div>

